body
{
	font-family: Arial, Helvetica, sans-serif;
	  -webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Firefox */
	        -ms-user-select: none; /* Internet Explorer/Edge */
	            user-select: none; /* Non-prefixed version, currently
	                                  supported by Chrome and Opera */
}

.container p, a, h1, h2, h3, h4, h5, h6
{
	-webkit-font-smoothing: antialiased;
	color: white;
	font-weight: 500;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

#container
{
	width: 100vw;
	height: 100vh;
}

#loadImgBg
{
	position: fixed;
	left: 50%;
	margin-left: -100px;
	top: 200px;
	width: 200px;
	height: 200px;
	border-radius: 15%;
}

#loadImg
{
	border-radius: inherit;
}

#textContainer
{
	position: absolute;
	text-align: center;
	width: 500px;
	margin-left: -250px;
	top: 410px;
	left: 50%;
}

.spinner
{
	-webkit-animation: sk-rotateplane 4s infinite linear;
}

@-webkit-keyframes sk-rotateplane {
	0% 
	{
		-webkit-transform: perspective(600px) rotateY(0deg); 
	}
	50%
	{
		-webkit-transform: perspective(600px) rotateY(360deg);
	}
	100%
	{
		-webkit-transform: perspective(600px) rotateY(720deg);
	}
}

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(130deg, #000046, #1CB5E0);
background-size: 1800% 1800%;

-webkit-animation: rainbow 8s ease infinite;
-z-animation: rainbow 8s ease infinite;
-o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.ftr {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #EEE;
	border-top: 1px solid #BBB;
	color: black;
	text-align: center;
}

.ftr p {
	margin: 2px;
	padding: 2px;
	color: black;
}